
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        #header
        {
            background-color: black;
            color: white;
            text-align: center;
            padding: 5px;
            font-size: 150%;
            font-family: Georgia;
        }
        #menu
        {
            line-height: 20px;
            background-color: ghostwhite;
            height: 470px;
            width: 175px;
            float: left;
            padding: 5px;

        }
        #content
        {
            background-color: lavender;
            width: 684px;
            float: left;
            padding: 10px;

        }
        #content2
        {
            background-color: white;
            height: 460px;
            width: 700;
            float: left;
            padding: 10px;
        }
        #footer
        {
            background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 5px;

        }
        .dropbtn {
            background-color: white;
            color: black;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: white;
        }

        table
        {
            width:125%;
        }

        table, th, td
        {
            border: 1px white;
            border-collapse: collapse;
        }

        th, td
        {
            padding: 5px;
            text-align: left;
        }

        table#t01 tr:nth-child(even)
        {
            background-color: #eee;
        }

        table#t01 tr:nth-child(odd)
        {
            background-color:#fff;
        }

        table#t01 th	{
            background-color: slategrey;
            color: white;
        }

    </style>
</head>
<body>

<div id="header">
    <h1>Fashion Savings</h1>
    <p>Amazing Clothes with Amazing Prices!</p>
</div>

<body background='http://www.easyfreepatterns.com/patterns/48/they-have-wonderful-wallcoverings-too-48167.'></body>


