<% include partials/header %>
<div id="menu">
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <a href="/">Homepage</a>
            <a href="/about">About Us</a>
            <a href="/Shoppers/login">Shopper Log In</a>
            <a href="/Shoppers/create">Create a New Shopper Account</a>
            <a href="/Shoppers/all">Get All Shoppers</a>
            <a href="/Companies/login">Company Log In</a>
            <a href="/Companies/create">Create a New Company Account</a>
            <a href="/Companies/all">Get All Companies</a>
        </div>
    </div>
</div>

<div id="content2">
<h3 style="text-align: center">About Us!</h3>
<p style="text-align: center">
An extremely common misconception about fashion is that you have to spend an unreasonable amount
of money on good quality clothes. However, we here at Fashion Savings know that that is not true!
Our mission is to help all fashion lovers to become the true bargain shoppers they are meant to be.
There is no need to spend a ton of money when great deals are all around you!
</p>

<h3 style="text-align: center">About the Owner</h3>
<p style="text-align: center">
Jessica Devincenzi is a senior at Sonoma State University. She has had a passion for clothes her whole
life and as a Computer Science major, wanted to integrate her two passions into something fun that could
benefit everyone. In bringing this website to life, she hopes to help shoppers find the right sales and
purchase the items they want at better prices, while promoting company sales as well.
</p>

<h3 style="text-align: center">Contact Us</h3>
<p style="text-align: center">
Email: info@fashionsavings.com <br />
Phone: (800) 555-6254
</p>

<h3 style="text-align: center">Now Shop On Shoppers!<h3>

</div>

<% include partials/footer %>
