<% include partials/header %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<div id="menu">
  <div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
      <a href="/">Homepage</a>
      <a href="/about">About Us</a>
      <a href="/Shoppers/login">Shopper Log In</a>
      <a href="/Shoppers/create">Create a New Shopper Account</a>
      <a href="/Shoppers/all">Get All Shoppers</a>
      <a href="/Companies/login">Company Log In</a>
      <a href="/Companies/create">Create a New Company Account</a>
      <a href="/Companies/all">Get All Companies</a>
    </div>
  </div>
</div>


<div id="content">
  <h3>Top Sales of the Day:</h3>

  <ol>
    <li>Nordstrom - Annual Jeans Sale starts TODAY! Shop the sales you love online at
    <a href="http://www.nordstrom.com"> Nordstrom.com</a> <br />
    </li>
    <br />
    <li>For Love & Lemons - Weekend sale starting this Friday! Get exclusive discounts with
      <a href="http://shop.forloveandlemons.com/collections/sale">this</a> code!</li>
    <br />
    <li>DSW - Summer favorites on sale now at
    <a href="http://www.dsw.com">DSW.com</a>!</li>
  </ol>
</div>


<img src="http://styleblog.ca/wp-content/uploads/2012/04/hm-conscious-collection-2012-6-530x355.jpg" alt="H&M Logo" style="width:350px;height:160px;">
<img src="http://logodatabases.com/wp-content/uploads/2012/03/nordstrom.jpg" alt="Nordstrom Logo" style="width:350px;height:160px;">
<img src="https://cdn.shopify.com/s/files/1/0233/2479/files/logo_lg_f0d0e6f1-e5e7-4350-b3e6-33936a20a40f_large.png?2811" alt="For Love & Lemons Logo" style="width:350px;height:160px;">
<img src="http://www.irishtimes.com/blogs/fash-mob/files/2014/02/Topshop-Spring-Summer-2014-Campaign-600x300.jpg" alt="TopShop" style="width:350px;height:160px;">


</div>
</body>
</html>

<% include partials/footer %>