<% include ../partials/header %>

<form action="/Shoppers/save/">

    <% /* .this is an EJS comment */ %>

    <label for="Name">Shopper Name</label> <input type="text" id="Name" name="Name" /><br />
    <label for="Username">Create a Username</label> <input type="text" id="Username" name="Username" /><br />
    <label for="email">Email</label> <input type="text" id="email" name="email" /><br />
    <label for="password">Pasword</label> <input type="password" id="password" name="password" /><br /><input type="submit" />
</form>


<% include ../partials/footer %>