<% include ../partials/header %>

<div id="menu">
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <a href="/">Homepage</a>
            <a href="/about">About Us</a>
            <a href="/Shoppers/login">Shopper Log In</a>
            <a href="/Shoppers/create">Create a New Shopper Account</a>
            <a href="/Shoppers/all">Get All Shoppers</a>
            <a href="/Companies/login">Company Log In</a>
            <a href="/Companies/create">Create a New Company Account</a>
            <a href="/Companies/all">Get All Companies</a>
        </div>
    </div>
</div>

<% if(rs.length > 0) { %>
<ul>
    <% for(var i=0; i < rs.length; i++) {%>
    Company Post: <%= rs[i].Post %>
    <li><%= rs[i].Review %></li>
    <% } %>
</ul>
<% } else { %>
No shopper matched Shopper ID: <%= ShopperID %>.
<% } %>

<% include ../partials/footer %>